body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  .stars {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 120%;
    transform: rotate(45deg);
  }
  
  .star {
    --star-color: #FFA500;
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(-104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.3em;
    --top-offset: 13.47vh;
    --fall-duration: 9.524s;
    --fall-delay: 7.262s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.39em;
    --top-offset: 42.82vh;
    --fall-duration: 6.582s;
    --fall-delay: 6.673s;
  }
  .star:nth-child(3) {
    --star-tail-length: 7.27em;
    --top-offset: 98.47vh;
    --fall-duration: 10.886s;
    --fall-delay: 3.606s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.67em;
    --top-offset: 99.27vh;
    --fall-duration: 10.037s;
    --fall-delay: 7.029s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.53em;
    --top-offset: 55.74vh;
    --fall-duration: 6.457s;
    --fall-delay: 3.198s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.24em;
    --top-offset: 65.26vh;
    --fall-duration: 10.553s;
    --fall-delay: 3.149s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.17em;
    --top-offset: 10.78vh;
    --fall-duration: 8.752s;
    --fall-delay: 8.743s;
  }
  .star:nth-child(8) {
    --star-tail-length: 7.16em;
    --top-offset: 28.79vh;
    --fall-duration: 10.372s;
    --fall-delay: 5.591s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.97em;
    --top-offset: 15.02vh;
    --fall-duration: 7.358s;
    --fall-delay: 7.286s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.52em;
    --top-offset: 80.01vh;
    --fall-duration: 11.953s;
    --fall-delay: 2.333s;
  }
  .star:nth-child(11) {
    --star-tail-length: 7.14em;
    --top-offset: 17.58vh;
    --fall-duration: 6.689s;
    --fall-delay: 2.604s;
  }
  .star:nth-child(12) {
    --star-tail-length: 6.8em;
    --top-offset: 9.59vh;
    --fall-duration: 9.796s;
    --fall-delay: 1.219s;
  }
  .star:nth-child(13) {
    --star-tail-length: 5em;
    --top-offset: 29.03vh;
    --fall-duration: 9.27s;
    --fall-delay: 6.708s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.77em;
    --top-offset: 13.01vh;
    --fall-duration: 6.78s;
    --fall-delay: 7.614s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.11em;
    --top-offset: 2.68vh;
    --fall-duration: 8.618s;
    --fall-delay: 5.5s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.61em;
    --top-offset: 37.68vh;
    --fall-duration: 10.514s;
    --fall-delay: 4.277s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.79em;
    --top-offset: 30.79vh;
    --fall-duration: 6.11s;
    --fall-delay: 5.505s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.4em;
    --top-offset: 73.77vh;
    --fall-duration: 8.107s;
    --fall-delay: 1.111s;
  }
  .star:nth-child(19) {
    --star-tail-length: 7.44em;
    --top-offset: 77.27vh;
    --fall-duration: 6.467s;
    --fall-delay: 9.876s;
  }
  .star:nth-child(20) {
    --star-tail-length: 5.33em;
    --top-offset: 5.63vh;
    --fall-duration: 6.275s;
    --fall-delay: 4.305s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.46em;
    --top-offset: 38.7vh;
    --fall-duration: 11.629s;
    --fall-delay: 0.32s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.91em;
    --top-offset: 87.95vh;
    --fall-duration: 11.596s;
    --fall-delay: 5.838s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.73em;
    --top-offset: 78.39vh;
    --fall-duration: 9.936s;
    --fall-delay: 5.315s;
  }
  .star:nth-child(24) {
    --star-tail-length: 7.3em;
    --top-offset: 20.77vh;
    --fall-duration: 6.627s;
    --fall-delay: 0.053s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.85em;
    --top-offset: 5.22vh;
    --fall-duration: 6.324s;
    --fall-delay: 4.524s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.29em;
    --top-offset: 96.38vh;
    --fall-duration: 8.973s;
    --fall-delay: 9.116s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.34em;
    --top-offset: 13.86vh;
    --fall-duration: 10.557s;
    --fall-delay: 1.439s;
  }
  .star:nth-child(28) {
    --star-tail-length: 7.38em;
    --top-offset: 19.33vh;
    --fall-duration: 10.706s;
    --fall-delay: 6.549s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.04em;
    --top-offset: 18.04vh;
    --fall-duration: 11.704s;
    --fall-delay: 5.272s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.23em;
    --top-offset: 68.26vh;
    --fall-duration: 11.085s;
    --fall-delay: 5.348s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.25em;
    --top-offset: 25.35vh;
    --fall-duration: 6.353s;
    --fall-delay: 8.522s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.3em;
    --top-offset: 85.7vh;
    --fall-duration: 11.623s;
    --fall-delay: 5.142s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.01em;
    --top-offset: 27.01vh;
    --fall-duration: 9.385s;
    --fall-delay: 6.701s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.14em;
    --top-offset: 6.86vh;
    --fall-duration: 10.854s;
    --fall-delay: 1.722s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.92em;
    --top-offset: 65.2vh;
    --fall-duration: 7.99s;
    --fall-delay: 5.771s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.82em;
    --top-offset: 8.74vh;
    --fall-duration: 11.734s;
    --fall-delay: 1.985s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.74em;
    --top-offset: 5.17vh;
    --fall-duration: 7.483s;
    --fall-delay: 6.845s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.07em;
    --top-offset: 83.81vh;
    --fall-duration: 9.608s;
    --fall-delay: 8.504s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.05em;
    --top-offset: 97.18vh;
    --fall-duration: 9.421s;
    --fall-delay: 0.965s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.76em;
    --top-offset: 45.96vh;
    --fall-duration: 11.988s;
    --fall-delay: 3.447s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.27em;
    --top-offset: 63.27vh;
    --fall-duration: 8.088s;
    --fall-delay: 0.402s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.15em;
    --top-offset: 80.13vh;
    --fall-duration: 6.884s;
    --fall-delay: 6.932s;
  }
  .star:nth-child(43) {
    --star-tail-length: 5.63em;
    --top-offset: 72.27vh;
    --fall-duration: 6.231s;
    --fall-delay: 6.604s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.19em;
    --top-offset: 18.87vh;
    --fall-duration: 11.302s;
    --fall-delay: 9.35s;
  }
  .star:nth-child(45) {
    --star-tail-length: 5.1em;
    --top-offset: 55.45vh;
    --fall-duration: 7.191s;
    --fall-delay: 2.798s;
  }
  .star:nth-child(46) {
    --star-tail-length: 7.43em;
    --top-offset: 4.71vh;
    --fall-duration: 6.542s;
    --fall-delay: 5.368s;
  }
  .star:nth-child(47) {
    --star-tail-length: 7.33em;
    --top-offset: 16.24vh;
    --fall-duration: 10.18s;
    --fall-delay: 5.819s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.58em;
    --top-offset: 94.18vh;
    --fall-duration: 11.474s;
    --fall-delay: 6.174s;
  }
  .star:nth-child(49) {
    --star-tail-length: 7.01em;
    --top-offset: 57.87vh;
    --fall-duration: 6.494s;
    --fall-delay: 0.427s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.17em;
    --top-offset: 55.01vh;
    --fall-duration: 10.641s;
    --fall-delay: 0.433s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(30em, -100vh, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }